body{
    background-color:rgb(159, 131, 93);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/* *{
  margin: 0;
} */
h1,h2{
    color: skyblue;
}
p{
    color: white;
}
span{
    color: yellow;    
}
ul li{
    color: white;
}
.italic-p{
    font-style: italic;
}
ol li{
    color: white;
}
li a{
    color: red;
}
img{
    width: 200px;
}
.mood{
    color: white;
}